body, html {
	background: #ADD8E6 url("https://uaintegration.github.io/slides/images/back400.png") repeat scroll 0 0;
	margin: 0 auto;
	height: 95%;
    width: 99%;
}
.your-class {
	margin: 45px 50px 0 50px;
	border: 1px solid #bebebe;
	height: 85%;
	background: #fefefe;
}
.slick-prev::before, .slick-next::before{
	color: blue;
}
.slick-dots li button::before {
	font-size: 10px;
    line-height: 30px;
}
.content {
	margin-left: 20px;
	height: 100%;
}
.slick-list {
	height: 100%;
}
.slick-track {
	height: 100%;
}
.helper {
	display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
    zoom: 1;
}
.centers {
	display: -moz-inline-box;
	display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 100%;
    text-align: center;
}